html {
  box-sizing: border-box;
}

*,
*:after,
*::before {
  box-sizing: inherit;
}

/*.main {*/
/*  display: flex;*/
/*  flex-flow: column wrap;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*}*/

.main {
  position: relative;
  width: 100%;
  height: 100%;
}

.top-left {
  top: 10px;
  left: 10px;
}

/*.top-left-copy {*/
/*  position: relative;*/
/*  top: 10px;*/
/*  left: 10px;*/
/*}*/

#apptextContainer {
/*  margin-top: 10px; *//* Adjust margin to leave space for the button */
}

#apptext {
  height: calc(100%);  /*Adjust height to leave space for the button*/
  background-color: #f5f5f5; /* Optional: Add background color for better visibility */
  padding: 10px;  /*Optional: Add padding for better readability*/
  box-sizing: border-box; /* Include padding in the element's total width and height */
}

#sourcetext {
  height: calc(100%);  /*Adjust height to leave space for the button*/
  background-color: #f5f5f5; /* Optional: Add background color for better visibility */
  padding: 10px;  /*Optional: Add padding for better readability*/
  box-sizing: border-box; /* Include padding in the element's total width and height */
}

.message {
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  max-width: 80%;
  word-wrap: break-word;
}

.message.left {
  background-color: #e0f7fa;
  text-align: left;
  margin-left: 10px;
}

.message.right {
  background-color: #ffebee;
  text-align: right;
  margin-right: 10px;
}